<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicBinding1" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="pbservice125.n_account" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="pbservice125.n_account" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="pbservice125.n_common" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="pbservice125.n_common" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_shrlon" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="Sybase.PowerBuilder.WCFNVO.n_shrlon" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="pbservice125.n_admin" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="pbservice125.n_admin" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="pbservice125.n_agency" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="pbservice125.n_agency" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="pbservice125.n_budget" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="pbservice125.n_budget" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="pbservice125.n_busscom" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="pbservice125.n_busscom" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="pbservice125.n_deposit" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="pbservice125.n_deposit" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="pbservice125.n_divavg" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="pbservice125.n_divavg" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="pbservice125.n_finance" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="pbservice125.n_finance" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="pbservice125.n_investment" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="pbservice125.n_investment" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="pbservice125.n_keeping" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="pbservice125.n_keeping" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="pbservice125.n_mis" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="pbservice125.n_mis" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="pbservice125.n_pm" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="pbservice125.n_pm" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="pbservice125.n_principalbalance" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="pbservice125.n_principalbalance" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="pbservice125.n_trading" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicBinding1" contract="pbservice125.n_trading" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_lnsrv_reqloan" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_lnsrv_reqloan" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_account_prepare_vc_service_lap" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_account_prepare_vc_service_lap" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_account_service" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_account_service" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_fin_vcgen_manual" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_fin_vcgen_manual" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_voucher" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_voucher" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_mb_memb_service" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_mb_memb_service" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_membsrv_allrequest" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_membsrv_allrequest" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_membsrv_audit" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_membsrv_audit" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_sh_share_service" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_sh_share_service" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_deposit_service" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_deposit_service" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_deposit_utility" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_deposit_utility" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_print_service" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_print_service" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_print_service_loan" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_print_service_loan" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_print_service_share" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_print_service_share" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_keeping_adjust_monthly" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_keeping_adjust_monthly" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_keeping_memdet" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_keeping_memdet" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_keeping_post" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_keeping_post" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_keeping_process" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_keeping_process" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_keeping_procreport" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_keeping_procreport" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_keeping_proc_service" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_keeping_proc_service" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_keeping_request_all" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_keeping_request_all" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_keeping_service" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_keeping_service" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_kp_v02_prc_tp" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_kp_v02_prc_tp" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_money_return_opr" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_money_return_opr" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_money_return_proc_service" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_money_return_proc_service" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_money_return_service" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_money_return_service" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
      <service name="Sybase.PowerBuilder.WCFNVO.n_cst_slcls_process" behaviorConfiguration="ServiceNameBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Sybase.PowerBuilder.WCFNVO.n_cst_slcls_process" bindingNamespace="http://tempurl.org" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" bindingNamespace="http://tempurl.org" />
      </service>
    </services>
    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceNameBehavior">
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>